<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>2Farm2Furious.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B946630D1F1C456600C9BD26</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B9EBFF3E1F15FAEC00F2EF58</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B9EBFF521F15FAEC00F2EF58</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
